{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block content %}
  <div class="home_intro">
    <h1>Home</h1>
    <h3>Welcome to the Home Page!</h3>
  </div>

  <div class="content_home">
    <p>Building your first Django project is an exciting step into the world of web development. Django, a high-level Python web framework, is renowned for its simplicity, flexibility, and ability to scale from small projects to complex systems. This project will help you explore Django's powerful features, including its built-in admin interface, ORM for database management, and support for rapid development with minimal coding. Whether you're creating a blog, a portfolio website, or a full-fledged web application, this project will serve as a foundation to build your skills and bring your ideas to life with Django.</p>
  </div>

{% endblock content %}